.fightHeading {
  color: yellow;
}

.fightDiv {
  border: 2px solid ivory;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fightSelectingDiv {
  border: 2px solid ivory;
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: ivory;
}

.startedFightDiv {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.user {
  display: flex;
  flex-direction: column;
}

.user p {
  color: ivory;
}

.enemy {
  display: flex;
  flex-direction: column;
}

.enemy p {
  color: ivory;
}

.fightBtnsDiv {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.startFightBtn {
  width: 30%;
  padding: 5px 5px;
}

.fleeBtn {
  width: 20%;
  padding: 5px 5px;
}

.pokeName {
  font-size: 1.1em;
}

.userMove {
  cursor: pointer;
}

.userMove:hover {
  color: red;
}

.userMoveChoices {
  display: flex;
  flex-direction: column;
}
