.mainDiv {
  border: 2px solid ivory;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainHeading {
  color: yellow;
  letter-spacing: 1px;
}

.pokeChoiceDiv {
  color: white;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.startBtn {
  width: 15%;
  height: 6%;
  margin-bottom: 3vh;
  background-color: transparent;
  color: ivory;
  border-color: yellow;
  border-radius: 10px;
}

.firstChoiceImgs:hover {
  cursor: pointer;
}

.afterChoiceDiv {
  border: 2px solid ivory;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navLinks {
  margin-top: 2vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-left: 4.5em;
}

.navLinks a {
  text-decoration: none;
  color: ivory;
}

.navLinks a:hover {
  color: yellow;
}

.chosenPokemonMainView {
  margin-bottom: 10vh;
  color: ivory;
  text-align: center;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  width: 100%;
}

.gameName {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  margin-top: 0.5vh;
}

.startOver {
  position: absolute;
  color: red;
  bottom: 0;
  right: 0;
  margin: 1vh 1vh;
  padding: 0;
  cursor: pointer;
}
